.inp {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: salmon;

    border: 1px salmon solid;
    border-radius: 2px;
    padding: 0 5px;

    min-width: 190px;


    height: 30px;
}

.inp:focus {
    outline: 0px;
}